/** Global style ************/
body {
  background-color:black;
  font-family: Arial;
  color: white;
}

h1 {
  color:grey;
  font-family: Verdana;
}

label {
  display: inline-block;
  min-width: 124px;
}

/** components style ************/

.maindiv {
  background-color: white;
  color: black;
  width: 425px;
  padding: 20px;
  border-radius: 25px;
  margin: 0 auto;
  /* TODO: Align the element to center vertically? */
}

.controls-group {
  padding-left: 30px;
}
